<widget xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:gap="http://phonegap.com/ns/1.0" id="com.vubingo.www" version="4.0.0">
  <name>VU Bingo</name>
  <description>An Online Multiplayer Board Game to kill your free time with friends</description>
  <author href="http://phonegap.com" email="support@phonegap.com">PhoneGap Team</author>
  <content src="index.html"/>
  <preference name="SplashScreen" value="screen" />
  <preference name="ShowSplashScreenSpinner" value="false"/>
  <preference name="SplashMaintainAspectRatio" value="true" />
  <preference name="HeaderColor" value="#ffffff" />
  <preference name="StatusBarBackgroundColor" value="#ffffff" />
  <preference name="AutoHideSplashScreen" value="false" />
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="AndroidLaunchMode" value="singleInstance"/>
  <preference name="android-minSdkVersion" value="21" />
  <preference name="android-targetSdkVersion" value="28" />
  <preference name="fullscreen" value="false" />
  <preference name="orientation" value="portrait" />
  <plugin name="cordova-plugin-device" spec="1.1.7" />
  <plugin name="cordova-plugin-dialogs" spec="1.3.4" />
  <plugin name="cordova-plugin-fullscreen" spec="1.1.0" />
  <plugin name="cordova-plugin-headercolor" spec="1.0" />
  <plugin name="cordova-plugin-inappbrowser" spec="1.7.2" />
  <plugin name="cordova-plugin-network-information" spec="1.3.4" />
  <plugin name="cordova-plugin-appversion" />
  <gap:plugin name="ionic-plugin-deeplinks" source="npm">
    <param name="URL_SCHEME" value="vubingo" />
    <param name="DEEPLINK_SCHEME" value="https" />
    <param name="DEEPLINK_HOST" value="www.vubingo.com" />
    <param name="ANDROID_PATH_PREFIX" value="/" />
  </gap:plugin>
  <plugin spec="https://github.com/goinnn/cordova-plugin-splashscreen.git#4.0.0#colors" source="git" />
  <plugin name="cordova-plugin-statusbar" spec="2.4.3" />
  <plugin name="cordova-plugin-whitelist" spec="1.3.4" />
  <platform name="android">
    <preference name="SplashStatusBarBackgroundColor" value="#ffffff" />
    <preference name="SplashNavigationBarBackgroundColor" value="#ffffff" />
    <icon src="res/icon/android/mipmap-ldpi/ic_launcher.png" density="ldpi"/>
    <icon src="res/icon/android/mipmap-mdpi/drawable-mdpi-icon.png" density="mdpi"/>
    <icon src="res/icon/android/mipmap-hdpi/ic_launcher.png" density="hdpi"/>
    <icon src="res/icon/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi"/>
    <icon src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi"/>
    <icon src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
    <icon src="res/icon/android/mipmap-ldpi/ic_launcher.png" density="land-ldpi"/>
    <icon src="res/icon/android/mipmap-mdpi/drawable-mdpi-icon.png" density="land-mdpi"/>
    <icon src="res/icon/android/mipmap-hdpi/ic_launcher.png" density="land-hdpi"/>
    <icon src="res/icon/android/mipmap-xhdpi/ic_launcher.png" density="land-xhdpi"/>
    <icon src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" density="land-xxhdpi"/>
    <icon src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" density="land-xxxhdpi"/>
    <icon src="res/icon/android/mipmap-ldpi/ic_launcher.png" density="port-ldpi"/>
    <icon src="res/icon/android/mipmap-mdpi/drawable-mdpi-icon.png" density="port-mdpi"/>
    <icon src="res/icon/android/mipmap-hdpi/ic_launcher.png" density="port-hdpi"/>
    <icon src="res/icon/android/mipmap-xhdpi/ic_launcher.png" density="port-xhdpi"/>
    <icon src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" density="port-xxhdpi"/>
    <icon src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" density="port-xxxhdpi"/>
    <splash qualifier="port-ldpi" src="res/screen/android/splash-port-ldpi.png"/>
    <splash qualifier="port-mdpi" src="res/screen/android/splash-port-mdpi.png"/>
    <splash qualifier="port-hdpi" src="res/screen/android/splash-port-hdpi.png"/>
    <splash qualifier="port-xhdpi" src="res/screen/android/splash-port-xhdpi.png"/>
    <splash qualifier="port-xxhdpi" src="res/screen/android/splash-port-xxhdpi.png"/>
    <splash qualifier="port-xxxhdpi" src="res/screen/android/splash-port-xxxhdpi.png"/>
    <splash qualifier="land-ldpi" src="res/screen/android/splash-land-ldpi.png"/>
    <splash qualifier="land-mdpi" src="res/screen/android/splash-land-mdpi.png"/>
    <splash qualifier="land-hdpi" src="res/screen/android/splash-land-hdpi.png"/>
    <splash qualifier="land-xhdpi" src="res/screen/android/splash-land-xhdpi.png"/>
    <splash qualifier="land-xxhdpi" src="res/screen/android/splash-land-xxhdpi.png"/>
    <splash qualifier="land-xxxhdpi" src="res/screen/android/splash-land-xxxhdpi.png"/>
  </platform>
  <platform name="ios">
    <icon src="res/icon/ios/icon.png" platform="ios" width="57" height="57"/>
    <icon src="res/icon/ios/icon@2x.png" platform="ios" width="114" height="114"/>
    <icon src="res/icon/ios/icon-40.png" platform="ios" width="40" height="40"/>
    <icon src="res/icon/ios/icon-40@2x.png" platform="ios" width="80" height="80"/>
    <icon src="res/icon/ios/icon-50.png" platform="ios" width="50" height="50"/>
    <icon src="res/icon/ios/icon-50@2x.png" platform="ios" width="100" height="100"/>
    <icon src="res/icon/ios/icon-60.png" platform="ios" width="60" height="60"/>
    <icon src="res/icon/ios/icon-60@2x.png" platform="ios" width="120" height="120"/>
    <icon src="res/icon/ios/icon-60@3x.png" platform="ios" width="180" height="180"/>
    <icon src="res/icon/ios/icon-72.png" platform="ios" width="72" height="72"/>
    <icon src="res/icon/ios/icon-72@2x.png" platform="ios" width="144" height="144"/>
    <icon src="res/icon/ios/icon-76.png" platform="ios" width="76" height="76"/>
    <icon src="res/icon/ios/icon-76@2x.png" platform="ios" width="152" height="152"/>
    <icon src="res/icon/ios/icon-small.png" platform="ios" width="29" height="29"/>
    <icon src="res/icon/ios/icon-small@2x.png" platform="ios" width="58" height="58"/>
    <icon src="res/icon/ios/icon-small@3x.png" platform="ios" width="87" height="87"/>
    <splash src="res/screen/ios/Default-568h@2x~iphone.png" platform="ios" width="640" height="1136"/>
    <splash src="res/screen/ios/Default-667h.png" platform="ios" width="750" height="1334"/>
    <splash src="res/screen/ios/Default-736h.png" platform="ios" width="1242" height="2208"/>
    <splash src="res/screen/ios/Default-Landscape-736h.png" platform="ios" width="2208" height="1242"/>
    <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" platform="ios" width="2048" height="1536"/>
    <splash src="res/screen/ios/Default-Landscape~ipad.png" platform="ios" width="1024" height="768"/>
    <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" platform="ios" width="1536" height="2048"/>
    <splash src="res/screen/ios/Default-Portrait~ipad.png" platform="ios" width="768" height="1024"/>
    <splash src="res/screen/ios/Default@2x~iphone.png" platform="ios" width="640" height="960"/>
    <splash src="res/screen/ios/Default~iphone.png" platform="ios" width="320" height="480"/>
  </platform>
  <platform name="wp8">
    <icon src="res/icon/wp8/ApplicationIcon.png" platform="wp8" width="99" height="99"/>
    <icon src="res/icon/wp8/Background.png" platform="wp8" width="159" height="159"/>
    <splash src="res/screen/wp8/screen-portrait.jpg" platform="wp8" width="768" height="1280"/>
  </platform>
  <platform name="windows">
    <icon src="res/icon/windows/Square150x150Logo.scale-100.png" platform="windows" width="150" height="150"/>
    <icon src="res/icon/windows/Square30x30Logo.scale-100.png" platform="windows" width="30" height="30"/>
    <icon src="res/icon/windows/StoreLogo.scale-100.png" platform="windows" width="50" height="50"/>
    <splash src="res/screen/windows/SplashScreen.scale-100.png" platform="windows" width="620" height="300"/>
    <icon src="res/icon/windows/StoreLogo.scale-240.png" platform="windows" width="120" height="120"/>
    <icon src="res/icon/windows/Square44x44Logo.scale-100.png" platform="windows" width="44" height="44"/>
    <icon src="res/icon/windows/Square44x44Logo.scale-240.png" platform="windows" width="106" height="106"/>
    <icon src="res/icon/windows/Square70x70Logo.scale-100.png" platform="windows" width="70" height="70"/>
    <icon src="res/icon/windows/Square71x71Logo.scale-100.png" platform="windows" width="71" height="71"/>
    <icon src="res/icon/windows/Square71x71Logo.scale-240.png" platform="windows" width="170" height="170"/>
    <icon src="res/icon/windows/Square150x150Logo.scale-240.png" platform="windows" width="360" height="360"/>
    <icon src="res/icon/windows/Square310x310Logo.scale-100.png" platform="windows" width="310" height="310"/>
    <icon src="res/icon/windows/Wide310x150Logo.scale-100.png" platform="windows" width="310" height="150"/>
    <icon src="res/icon/windows/Wide310x150Logo.scale-240.png" platform="windows" width="744" height="360"/>
    <splash src="res/screen/windows/SplashScreenPhone.scale-240.png" platform="windows" width="1152" height="1920"/>
  </platform>
  <splash src="splash/ios/Default-568h@2x~iphone.png" platform="ios" width="320" height="480" />
  <access origin="*"/>
  <allow-navigation href="*" />
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-navigation href="http://*/*" />
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <config-file platform="android" parent="/manifest" mode="merge">
    <application android:theme="@android:style/Theme.NoTitleBar" >
      <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" >  
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="www.vubingo.com" />
            </intent-filter>
      </activity>
    </application>
  </config-file>
  <platform name="android">
      <resource-file src="www/styles.xml" target="app/src/main/res/values-v28/styles.xml" />
      <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:resizeableActivity="false"/>
      </edit-config>
      <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application/activity">
          <activity android:theme="@style/Full"/>
      </edit-config>
      <config-file parent="./application" target="AndroidManifest.xml">
          <meta-data android:name="android.max_aspect" android:value="5.0" />
      </config-file>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>